@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Manrope", sans-serif;
}

.hero-section{
    width: 1120px;
    margin: 0 auto;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.hero-left h2{
font-size: 3rem;
margin-bottom: 30px;
color: #1C1C1C;
}

.hero-left p{
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}
.hero-left a{
    text-decoration: none;
    background: linear-gradient(90deg,rgb(255, 80, 33) 0%, rgb(180, 42, 4) 100%);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    
}
.hero-left i{
    margin-left: 5px;
}



.hero-right  {
    position: relative;
}


.review{
    width: 200px;
    padding: 15px 20px;
    box-shadow: 0px 0px 5px #646363;
    border-radius: 5px;
    position: absolute;     
    bottom: 10%;
    background:#fff;
    display: flex;
    gap: 20px;
    
    align-items: center;

}

.fa-star{
    color: gold;
    font-size: 2rem;
}
.review-content h4{
    font-size: 1.5rem;
}

.review-content p{
    color: #777;
}

@media  screen and (max-width:576px) {
    .hero-section{
        flex-direction: column;
    }
}

@media  screen and (min-width:577px) and (max-width:768px) {
    .hero-section{
        flex-direction: column;
    }
}