strong{
    background-color: green;
}
a{
    text-decoration: none;
    border: 1px solid blue;
    padding: 10px;
    background-color: #000;
    color: #ffffff;
    border-radius: 5px;
   
}

a:hover{
    background: white;
    color: black;
}